* {
    box-sizing: border-box;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 2.5em;
}

.main-div {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #778899, #ffffff);
    position: absolute;
    height: 100%;
    width: 100%;
}

.info {
    text-align: center;
    margin-top: 300px;
}

.links {
    margin-top: 40px;
    text-align: center;
}

.tic-tac-toe {
    font-family: 'Love Ya Like A Sister', cursive;
    color: black;
    font-size: 2em;
}

.other-work {
    margin-top: 20px;
    font-size: 2em;
}

.github img {
    margin-top: 20px;
    height: 2em;
}



.name {
    font-family: 'Yatra One', cursive;
}




